/* Reset default styles for the body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes at least the full height of the viewport */
}

/* Header styles */
header {
    background-color: beige;
    padding: 1px;
    border-bottom: #333 1px solid;
    position: fixed;
    width: 100%;
    transition: background-color 1.0s ease, height 1.0s ease; /* Add transition for height */
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
    height: 80px;
}
header .imgsnavbar {
    width: 40%;
    transition: width 1.7s ease; /* Only transition width property */
}

/* Styles for the header when it shrinks */
header.shrink {
    height: 60px;
    border-bottom: 0px;
    background-color: transparent;
     /* Adjust the height as needed */
}

/* Styles for the images and links in the header */


/* Navigation styles */
nav {
    height: 80%; /* Match the height with the header in the .shrink state */
    display: flex;
    align-items: center; /* Center the li elements vertically */
    
    transition: margin-left 1.0s ease;
}


/* Styles for navigation images */
nav img {
    width: 35%;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 1.7s ease, width 1.7s ease;
    margin:0 auto;
}

header.shrink .imgsnavbar {
    width: 30%;
}

/* Styles for navigation ul (unordered list) */
nav ul {
    list-style-type: none;
    display: flex;
    align-items: center; /* Center the li elements vertically */
    width: 700px;
    transition: max-height 0.9s ease, width 0.7s ease, opacity 0.7s ease 0.2s, margin 1.7s ease; /* Added smooth transition for margin */
}

nav ul li {
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-right: 20%; /* Adjust the margin for spacing between list items */
}

/* Styles for navigation list items */
nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 18px;
    transition: transform 1.7s ease, width 1.7s ease, font-size 1.7s ease, opacity 1.7s ease; /* Add font-size transition */
}

/* Header shrink state for list items */
header.shrink a {
    font-size: 15px;
}

/* Hover effect for navigation list items */
nav ul li a:hover {
    color: #f5aaaa;
}

/* Additional styling for specific navigation list items */
nav ul li a.navlist {
    width: 10%;
}

/* Main content styles */
main {
    flex: 1;
}

/* Styles for the introductory section */
main .intro {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

/* Styles for the content within the introductory section */
main .intro-content {
    display: flex;
    align-items: center;
}

/* Styles for the introductory image */
main .intro img {
    width: 30%;
    border-radius: 20px;
    padding: 0px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
}

/* Styles for the text content within the introductory section */
main .intro .text-content {
    max-width: 50%;
    padding: 20px;
    margin-right: 5%;
    justify-content: center;
}

/* Styles for the introductory heading */
main .intro h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    transition: color 0.3s ease;
}

/* Styles for the introductory paragraph */
main .intro p {
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
}

/* Styles for the secondary heading within the introductory section */
main .intro h2 {
    font-size: 24px;
    margin-top: 30px;
}

/* Container styles */
.container {
    width: 100%;
    overflow: hidden;
}

/* Wrapper styles for animation */
.wrapper {
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
    justify-content: flex-start;
    z-index: 1;
}

/* Keyframes for the slide animation */
@keyframes slide {
    0%{
        transform: translateX(0%);
    }

    15%{
        transform: translateX(0%);
    }

    30%{
        transform: translateX(-100%);
    }

    45%{
        transform: translateX(-100%);
    }

    60%{
        transform: translateX(-200%);
    }

    75%{
        transform: translateX(-200%);
    }

    90%{
        transform: translateX(-300%);
    }

    105%{
        transform: translateX(-300%);
    }

    120%{
        transform: translateX(-400%);
    }

    135%, 150%{
        transform: translateX(-400%);
    }

    200%{
        transform: translateX(0%); /* Return to the first slide at the end */
    }
}






/* Image styles */
img {
    width: 100%;
}

/* Join section styles */
.join {
    text-align: center;
    padding: 10px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: larger;
    transition: color 0.3s ease;
}

/* Join section link styles */
.join a {
    text-decoration: none !important;
    color: #333;
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: beige;
}

/* Hamburger menu styles */


/* Larger screen navigation styles */
@media screen and (min-width: 1121px) {
    nav {
        height: 80%;
        display: flex;
        align-items: center;
        margin-left: 2%;
        transition: margin-left 1.0s ease; /* Add transition for margin-left */
    }

    nav .shrink {

        margin-left: 10%;
        
    }

    nav div.imgsnavbar .regulara{

        width: 40%;
        margin-left: 20%;
        
        }
    .menu svg {
        display: none;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

    nav img {
        display: inline;
    }

    nav img.stretched-logo {
        display: none;
    }
}

@media screen and (max-width: 1120px) {
    .menu {
        display: flex; /* Display the menu button on smaller screens */
        background-color: transparent;
        width: 30px;
        position: absolute;    
        z-index: 3; /* Set a higher z-index to ensure it's on top of the navbar */
        opacity: 1; /* Initially set the opacity to 1 */
    }

    nav ul {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 45px;
        width: 100%; /* Set the desired width */
        background-color: white;
        z-index: 1;
        overflow: hidden;
        max-height: 0;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Added box shadow */
    }

    nav ul.show {
        max-height: 500px;
        width: 100%; /* Adjust the width for the expanded menu */
    }

    nav ul li {
        display: inline-block;
        text-align: center;
        margin: 8px 10px;
        opacity: 0; /* Initially set the opacity to 0 */
    }

    nav ul.show li {
        opacity: 1; /* Fade in the list items when the menu is shown */
    }

    .menu svg {
        width: 30px; /* Adjust the width of the SVG icon */
        height: auto; /* Maintain aspect ratio */
    }
    header.shrink .menu {
        transition: width 1.7s ease, opacity 1.7s ease;
    width: 20px;
    }
}



/* Nav styles for even smaller screens */
@media screen and (max-width: 1000px) {


    main .intro {
        margin-bottom: 50px;
    }

    main .intro-content {
        flex-direction: column;
        text-align: center;
        margin-top: 5%;
    }

    main .intro img {
        border-radius: 20px;
        width: 50%;
        margin: auto;
        padding: 5%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border: none; /* Ensure no border */
        padding: 0; /* Ensure no padding */
    }

    main .intro .text-content {
        max-width: 100%;
        padding: 20px;
    }

    main .intro h1 {
        font-size: 25px;
    }

    main .intro p {
        font-size: 13px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    main .intro h2 {
        font-size: 17px;
        margin-top: 20px;
    }
   

    nav ul li {
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
    }
}

/* Nav styles for hiding elements in dropdown menu */
@media screen and (max-width: 1120px) {
    nav {
        display: flex;
        align-items: center; /* Align items vertically */
        justify-content: center; /* Add space between items */
       
        overflow: hidden;
    }
   
    nav img.regular-logo {
        display: none;
    }

    nav img.stretched-logo {
        display: inline;
        width: 100px;
        height: auto;
        padding: 5px; /* Adjust the padding as needed */
        display: block; /* Ensure block display for margin:auto to work */
    }
    header.shrink .imgsnavbar {
        width: 30% /* Adjust the width as needed for the shrink state */
    }
    
    
    nav ul.show {
        max-height: 500px; /* Adjust the max-height to fit your content */
    }
}

/* Show regular logo and li when more than 1120px */
@media screen and (min-width: 1121px) {
    nav ul {
        display: flex !important; /* Override the display property */
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

    nav img.regular-logo {
        display: inline;
    }

    nav img.stretched-logo {
        display: none;
    }
}

/* Add a new class for the active state */
nav ul li.active {
    background-color: #8b735b; /* Set the background color for the active state */
    color: #fff; /* Set the text color for the active state */
}


.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3; /* Set a higher z-index to ensure it's on top of the navbar */
}

.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 800ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.spacer{

height: 10000px;

}

/* Add these styles to your CSS to customize the services section */
.services {
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9; /* Change the background color as needed */
}

.services h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    transition: color 0.3s ease;
}

.service-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.service-images img {
    width: 20%; /* Adjust the width of each service image as needed */
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; /* Add transition for a smooth effect */
}

.service-images img:hover {
    transform: scale(1.1); /* Increase the size on hover for a subtle effect */
}